html { height: 100% }
body { 
    height: 100%;
    margin: 0px;
    padding: 0px;
}
#map { 
    height: 100%;
    width: 100%;
}


/**
 * Overriding OpenLayers pre-defined styles
 */
#OpenLayers_Control_PanZoom_zoomworld,
#OpenLayers_Control_PanZoom_panup,
#OpenLayers_Control_PanZoom_panright,
#OpenLayers_Control_PanZoom_pandown,
#OpenLayers_Control_PanZoom_panleft {
    display: none !important;
}
